<!DOCTYPE html>
<html>
        <head>
                <title><%= title %> | Aldrin Jerome Almacin</title>
                <link rel='stylesheet' href='lib/bootstrap/dist/css/bootstrap.min.css' />
                <link rel='stylesheet' href='stylesheets/style.css' />
        </head>
        <body>
                <% include nav %>
                <div class="container-fluid">
                        <div class="mainHead row jumbotron">
                                <h1><%= title %></h1>
                                <p><%= subtitle %></p>
                        </div>
