<!--
  FILE: Main Site Sidebar. Shows social media information and actions.
-->
<div class="col-md-3">
  <h3>LinkedIn Information</h3>
  <div class="row linkedIn">
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/aj-almacin/97/9a1/12a" data-format="inline"></script>
  </div>

  <div class="row">
    <h3>To get up to date info.</h3>
    <h4>Twitter</h4>
    <a href="https://twitter.com/ajalmacin" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ajalmacin</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <h4>Github</h4>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/aalmacin" data-style="mega" data-count-href="/aalmacin/followers" data-count-api="/users/aalmacin#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @aalmacin on GitHub">Follow @aalmacin</a>
    <!-- Place this tag right after the last button or just before your close body tag. -->
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  </div>
</div>
