<div class="developer">
        <h3 class="text-center">Developer Resume</h3>
        <h4>Bio</h4>
        <p>Gained professional experience with writing web applications using MVC frameworks.</p>
        <p>Passionate about web development and continuously learning new technologies through formal education and research.<p>
        <p>Up to date with new web technologies through online tutorials and by reading technical books.</p>
        <p>Good debugging and testing skills.</p>

        <h4>Skills</h4>
        <ul>
                <li>Writing web sites using MEAN stack</li>
                <li>Social Media integration</li>
                <li>Strong knowledge on Version Control</li>
                <li>Querying SQL/NoSQL databases</li>
                <li>Agile project management skills</li>
                <li>Virtualization and Cloud computing</li>
                <li>Big data and business intelligence analysis</li>
                <li>Other technologies : SilverStripe, Ruby on Rails, Laravel</li>
        </ul>

        <h4>Experience</h4>
        <ul>
                <li><strong>KBS+ Canada, Toronto, ON</strong> as a <em>Developer</em> <br>(Aug 2013 - Oct 2014)</li>
                <li><strong>Mosaic Sales Solutions, Toronto, ON</strong> as an <em>Interactive Developer (co-op)</em> <br> (Jan 2013 - April 2013)</li>
                <li><strong>Renegade Digital Media, Toronto, ON</strong> as an <em>Interactive Developer (co-op)</em> <br> (May 2012 - Aug 2012)</li>
        </ul>

        <h4>Education</h4>
        <ul>
                <li><strong>Computer Programmer (Honours)</strong> <br> <em>Georgian College, Barrie, ON</em> <br>(Sep 2011 - Aug 2013)</li>
                <li><strong>Computer Programmer Analyst</strong> <br> <em>Georgian College, Barrie, ON</em> <br>(Jan 2015 - Present)</li>
        </ul>
</div>

<hr>

<div class="hobbies">
        <h3>My Hobbies</h3>
        <ul>
                <li>Watching and Playing Sports (Baseball, Basketball, Hockey, American Football)</li>
                <li>Playing musical instruments (Guitar, Piano)</li>
                <li>Cooking</li>
                <li>Reading books (Non-fiction, fiction, technical)</li>
                <li>Running</li>
        </ul>
</div>

<hr>

<div class="interestingFact">
        <h3>Other Interesting Fact</h3>
        <ul>
                <li>Speed reading</li>
                <li>Speaks in English, Tagalog/Filipino, Pangasinan</li>
        </ul>
</div>

<hr>

<div class="text-center family">
        <h3>My family</h3>
        <p>I am a father of two and a loving husband.</p>
        <div class="row wife">
                <img src="./img/wife.jpg" alt="My wife. Raizza">
        </div>
        <div class="row wife">
                <h4>Julien Raizza Almacin</h4>
                <p>She came to Canada 3 years ago and we have been married for more than 5 years.</p>
        </div>
        <hr>
        <div class="row child">
                <img src="./img/mac.jpg" alt="My son. Luc Marc Dvon">
        </div>
        <div class="row child">
                <h4>Luc Marc Dvon Almacin</h4>
                <p>My son currently lives in the Philippines with my wife's family. We are planning to bring him to Canada.</p>
        </div>
        <hr>
        <div class="row child">
                <img src="./img/sophia.jpg" alt="My daughter. Sophia">
        </div>
        <div class="row child">
                <h4>Sophia Almacin</h4>
                <p>We have not decided on what to name her yet but me and my wife is leaning towards Sophia. So excited for her birth day.</p>
        </div>
        <hr>
        <h3>My Pets</h3>
        <div class="row pet">
                <img src="./img/ace.jpg" alt="One of my pets. Ace.">
        </div>
        <div class="row pet">
                <h4>Ace</h4>
                <p>A full-bred shih tzu. He is very playful and alert.</p>
        </div>
        <hr>
        <div class="row pet">
                <img src="./img/bella.jpg" alt="One of my pets. Bella.">
        </div>
        <div class="row pet">
                <h4>Bella</h4>
                <p>A cockapoo. She is very smart and obedient. She loves learning new tricks.</p>
        </div>
</div>
