<!DOCTYPE html>
<html>
        <head>
                <title><%= title %></title>
                <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
        </head>
        <body>
                <div class="jumbotron">
                        <h1><%= title %></h1>
                        <p>Welcome to <%= title %></p>
                </div>
                <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
                <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        </body>
</html>
