<!--
  FILE: Home page of the site.
-->
<h2>Hello!</h2>
<p>My name is Aldrin Jerome Almacin and I am a junior web developer.</p>
<p>Visit <a href="/aboutMe">the About Me page</a> to know more about me.</p>
<p>Visit <a href="/projects">the Projects page</a> to view some of my work and personal projects</p>
<p>Visit <a href="/services">the Services page</a> to find out what services I offer.</p>
<p>And lastly, if you want to contact me just visit <a href="/contactMe">the Contact Me page</a>.</p>

