<div>
        <h2>Work Projects</h2>
        <ul>
                <li>
                        <b><a target='_blank' href="https://www.kegsteakhouse.com/">Keg Steakhouse</a></b>
                        <ul>
                                <li>Planned the database structure</li>
                                <li>Built the backend api using Silverstripe</li>
                                <li>Wrote BASH commands to ease the deployment, automation, and testing</li>
                        </ul>
                        <br>
                </li>
                <li>
                        <b><a target='_blank' href="#">Target Canada</a></b>
                        <ul>
                                <li>Implemented responsive front-end design using LESS and jQuery</li>
                        </ul>
                        <br>
                </li>
                <li>
                        <b><a target='_blank' href="http://tooniesfortummies.ca/">Toonies for Tummies</a></b>
                        <ul>
                                <li>Organized and implemented the donation payment system using PayPal SDK</li>
                                <li>Built using PHP</li>
                                <li>Implemented RESTful API to communicate to the front-end using AJAX</li>
                        </ul>
                        <br>
                </li>
                <li>
                        <b><a target='_blank' href="http://www.naircare.ca/">Nair</a></b>
                        <ul>
                                <li>Updated the structure and site content</li>
                                <li>Updated site design and images using Adobe Photoshop and Adobe Illustrator</li>
                        </ul>
                        <br>
                </li>
                <li>
                        <b><a target='_blank' href="http://primebandbooking.com/login.php">Prime Band Booking Tool</a></b>
                        <ul>
                                <li>Built the backend as a PHP RESTful API</li>
                                <li>Helped on front-end development (AngularJS)</li>
                        </ul>
                        <br>
                </li>
        </ul>
</div>
<hr>
<div>
        <h2>Personal Projects</h2>
        <ul>
                <li>
                        <b><a target='_blank' href="http://barriegoodtire.com:8000/">Survey Site</a></b>
                        <ul>
                                <li>Built the site using MEAN development stack.</li>
                        </ul>
                        <br>
                </li>
        </ul>
</div>
