<!--
  FILE: All of the services I offer.
-->
<div>
        <h2>Web Development</h2>
        <ul>
                <li>Build personal websites</li>
                <li>Build corporate websites</li>
        </ul>
        <hr>
        <h2>Virtualization and Deployment</h2>
        <ul>
                <li>Help with deployment tools</li>
                <li>Provides help with setting up development environments.</li>
        </ul>
        <hr>
        <h2>Music Lessons</h2>
        <ul>
                <li>Teach young children to adult about music theory</li>
                <li>Hands-on teaching</li>
        </ul>
</div>
